html, head, body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightyellow;
  background-image: linear-gradient(lightyellow, lightblue);
}

.button {
  border: 1px;
  color: white;
  padding: 16px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-image: url("https://i.postimg.cc/Sxw0pHyv/sciencebackground.jpg");
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {
  background-image: url("https://i.postimg.cc/25MXWWq9/people.jpg");
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-image: url("https://i.postimg.cc/pV41r4hQ/worldbackground.jpg");
  color: black;
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.button4 {
  background-image: url("https://i.postimg.cc/mrPmTSLp/bedtimebackground.jpg");
  color: black;
  border: 2px solid #008CBA;
}

.button4:hover {
  background-color: #008CBA;
  color: white;
}
